@use '../variables' as *;
@use 'sass:math';

/* 
The math module in SASS provides functions for mathematical operations, making it easier to perform calculations directly in your stylesheets. Some common functions in the math module include:
math.div($number1, $number2): Divides $number1 by $number2.
math.round($number): Rounds $number to the nearest whole number.
math.ceil($number): Rounds $number up to the nearest whole number.
math.floor($number): Rounds $number down to the nearest whole number.
math.abs($number): Returns the absolute value of $number.
*/

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 2);

  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: $base-font-size;
  }

  a {
    text-decoration: underline;
    color: $primary;
  }
}

@debug math.div(
  $base-border-radius,
  2
); // This will output "10px" to the console.
/* 
The @debug directive in SASS is used to print the value of a variable or an expression to the console during compilation. This can be extremely useful for debugging your stylesheets, as it allows you to see the values of your variables and calculations at specific points in your code.
 */
